*{
    margin: 0;
    padding: 0;
    font-family: oswald;
}

header .navi {
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 0;
    background-color: rgb(197, 187, 187);
    margin-bottom: 30px;
}

header .navi .menu ul {
    display: flex;
    padding-top: 40px;
    font-family: oswald;
}

header .navi .menu li {
    list-style: none;
    color: black;
    margin-left: 30px;
    width: auto;
    height: auto;
}

header .navi .menu a {
    text-decoration: none;
    margin-left: 30px;
}

header .navi .menu a:hover {
    color: rgb(234, 234, 17);
    background-color: rgb(234, 234, 17);
}



li{
    list-style: none;
}
h1{
    text-align: center;
    font-size: 55px;
    color: rgb(234, 234, 17);
}
section{
    font-size: 18px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 30px;
}
section h3{
    padding-top: 30px;
}
section .box1{
    border: 2px solid black;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px;
}
section .box2{
    border: 2px solid black;
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px;
    text-align: center;
    height: auto;
}
section .box2 h4{
    padding-top: 30px;
}



footer .container5{
    background-color: rgb(197, 187, 187);
    display: flex;
    justify-content: space-around;
}
footer .container5 .privacy{
    display: flex;
    flex-direction: column;
    margin: 40px;
    font-size: 20px;
    font-family: oswald;
}
footer .container5 .privacy a{
    text-decoration: none;
    color: black;
}
footer .container5 .privacy a:hover{
    background-color: rgb(234, 234, 17);
}
footer .container5 .footercontact{
    font-size: 18px;
    font-family: oswald;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .container5 .footercontact .btfooter{
    font-family: oswald;
    font-size: 17px;
    border-radius: 13px;
    background-color: rgb(234, 234, 17);
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}